<h4>Детально:</h4>

  <p>
    <%= @row['Content'] %>
    <br>
    <br>
    Добавлено в: <%= @row['Create_Date'] %>
  </p>

  <br>
<p>
	<form action="/details/<%= @row['id'] %>" method="post">
	  <textarea name="area" class="form-control" rows="5" placeholder="Введите текст комментария"></textarea>
	  <br>
	  <button type="submit" class="btn btn-info">Добивать комментарий</button>
	</form>
</p>

  <br>
<h4>Комментарии:</h4>
  <br>

<% @comments.each do |comment| %>
  <p>
    <%= comment['Content'] %>
    <br>
    <br>
    <span style="font-size: 75%">Добавлено в: <%= comment['Create_Date'] %></span>
  </p>
  <hr />
<%end %>